:root {
  --white: invert(100%) sepia(0%) saturate(1%) hue-rotate(185deg) brightness(104%) contrast(101%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

img[src$=".svg"] {
  height: 2rem;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 3fr;
  height: 100vh;
}

.header {
  grid-column: 2 / 3;
  z-index: 100;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  padding: 1.5rem 6rem 1.5rem 4rem;
}

.upper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  display: flex;
  align-items: center;
}

.search-box {
  background-color: #e2e8f0;
  height: 2.6rem;
  width: 42vw;
  border-radius: 24px;
  margin-left: 15px;
}

.upper > .right {
  justify-self: end;
  display: grid;
  grid-template-columns: 40px 60px 1fr;
  align-items: center;
  justify-items: center;
  gap: 36px;
  margin-right: 2rem;
}

.upper > .right > .cat-image {
  height: 60px;
}

.lower > .left > .cat-image {
  height: 90px;
  margin-right: 24px;
}

.lower {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 42px;
}

.lower > .right {
  justify-self: end;
}

.lower > .right > button {
  height: 54px;
  width: 130px;
  background-color: #1992d4;
  color: white;
  border: none;
  border-radius: 42px;
  margin-left: 30px;
  font-size: 1.3rem;
  font-weight: 500;
}

.sidebar {
  background-color: #1992d4;
  grid-row: 1 / 3;
  padding: 1.5rem 0 0rem 1.5rem;
}

.dashboard {
  display: flex;
  align-items: center;
  margin-bottom: 7.2vh;
}

.dashboard img {
  height: 4rem;
  margin-right: 1rem;
  filter: var(--white);
}

.dashboard p {
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
}

ul {
  list-style: none;
  margin-left: 1rem;
}

.side-item {
  display: flex;
  align-items: end;
  color: white;
  margin-bottom: 2rem;
}

.side-item > img {
  position: relative;
  bottom: 2px;
  filter: var(--white);
}

.side-item > p {
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 2rem;
}

.side-item.division {
  margin-top: 10vh;
}

.content {
  background-color: #e2e8f0;
}